Source: vicharak-config
Maintainer: "Vicharak Computers Pvt Ltd" <avi.shihora@vicharak.in>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-exec,
               lintian,
               pandoc,
               shellcheck,

Package: vicharak-config
Architecture: all
Section: admin
Priority: standard
Depends: device-tree-compiler,
         gdisk,
         parted,
         rtk-hciattach,
         pkexec | policykit-1 (<< 122-1),
         whiptail,
         ${misc:Depends},
Suggests: x-terminal-emulator
Description: Vicharak system setup utility
 Vicharak system setup utility (vicharak-config) provides an
 user friendly menu to perform many essential
 system configuration tasks.
 It also provides an on-boot configuration service to allow customization.

Package: vicharak-config-thermal-governor-step-wise
Architecture: all
Section: admin
Priority: standard
Depends: vicharak-config (= ${binary:Version}),
         ${misc:Depends},
Description: Vicharak config - Set thermal_governor to step_wise
 This package set thermal_governor to step_wise on boot.

Package: vicharak-config-first-boot
Architecture: all
Section: admin
Priority: standard
Depends: vicharak-config (= ${binary:Version}),
         ${misc:Depends},
Description: Vicharak config - First boot configuration
 This package contains the default first boot script.
