Source: vicharak-config
Maintainer: "Vicharak Computers LLP" <utsavbalar1231@gmail.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               pandoc,
               shellcheck,

Package: vicharak-config
Architecture: all
Section: admin
Priority: standard
Depends: device-tree-compiler,
         gdisk,
         parted,
         whiptail,
         yq,
         ${misc:Depends},
Description: Vicharak system setup utility
 Vicharak system setup utility (vicharak-config) provides an user friendly menu to
 perform many essential system configuration tasks. It also provides
 an on-boot configuration service to allow customization.
